<!-- To use router links we need routerModule dependency -->
<ul>
    <li>
        <a appTooltip routerLink="/login" routeLinkActive="active">LOGIN</a>
    </li>
    <li>
        <a routerLink="/mailbox" routeLinkActive="active">MAILBOX</a>
    </li>
    <li>
        <a routerLink="/xyz" routeLinkActive="active">LINK 3</a>
    </li>
    <li>
        <a routerLink="/abc" routeLinkActive="active">LINK 4</a>
    </li>
</ul>
<hr>
<!-- Router outlet will load the coomponent/module specified in routes array
(app-routing-module.ts) -->
<router-outlet></router-outlet>