<!-- To use router links we need routerModule dependency -->
<ul>
    <li>
        <a appTooltip = "Click for login" routerLink="/login" routeLinkActive="active">{{'login page' | titlecase}}</a>
    </li>
    <li>
        <a appTooltip = "Go to mailbox" routerLink="/mailbox" routeLinkActive="active">Mailbox</a>
    </li>
    <li>
        <a routerLink="/xyz" routeLinkActive="active">LINK 3 (inactive)/a>
    </li>
    <li>
        <a routerLink="/abc" routeLinkActive="active">LINK 4 (inactive)</a>
    </li>
</ul>

<h2>{{userService.userData.title | titlename:false}}</h2>
<hr>
<!-- Router outlet will load the coomponent/module specified in routes array
(app-routing-module.ts) -->
<router-outlet></router-outlet>