<!-- To use router links we need routerModule dependency -->
<ul>
    <li>
        <a appTooltip = "Click for login" routerLink="/login" routeLinkActive="active">{{'login page' | titlecase}}</a>
    </li>
    <li>
        <a appTooltip = "Go to mailbox" routerLink="/mailbox" routeLinkActive="active">Mailbox</a>
    </li>
    <li>
        <a routerLink="/xyz" routeLinkActive="active">LINK 3</a>
    </li>
    <li>
        <a routerLink="/abc" routeLinkActive="active">LINK 4</a>
    </li>
</ul>

<h2>{{userTitle | titlename:true}}</h2>
<hr>
<!-- Router outlet will load the coomponent/module specified in routes array
(app-routing-module.ts) -->
<router-outlet></router-outlet>